<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        
        <!-- The tilde ~/images  is to get the image at wwwroot -->
        <img src="~/images/cafeLogo.jpg" alt="café logo" style="width:200px;height:120px" />

        <nav>

            <div>@Html.ActionLink("Home", "Index", "Home") </div>
            <div>@Html.ActionLink("About", "About", "Home") </div>
            <div>@Html.ActionLink("Contact", "Contact", "Home") </div>
            <div>@Html.ActionLink("Projects", "Projects", "Home") </div>
            <div>@Html.ActionLink("Doctor for you", "Index", "Doctor") </div>
            <div>@Html.ActionLink("Check if fever", "FeverCheck", "Doctor") </div>
            <div>@Html.ActionLink("Gues the number", "GuessingGame", "Home" ) </div>

        </nav>
    </header>
        <h2>Name: Anders Smith</h2>
        <div>
            @RenderBody()
        </div>

        <footer>@DateTime.Now.ToString("yyyy-MM-dd") Anders Torin</footer>
    </body>
    </html>
